* {
  box-sizing: border-box;
}

:root {
  --primary-font: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;

  --header-color: #ffffff;
  --button-color: #ffa509;
  --subheader-color: #2a7e85;
  --tag-color: #e4fdff;
  --background-color: #075315;
  --black-color: rgb(27, 42, 48);
  --white-color: white;

  --box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  --padding: 20px;
  --padding-half: calc(var(--padding) / 2);
  @media (min-width: 700px) {
    --padding: 40px;
  }

  --header-height: 35px;
  @media (min-width: 700px) {
    --header-height: 50px;
  }
}

body {
  font-family: var(--primary-font);
  background: var(--white-color);
  color: var(--black-color);
}

:global(.label-text) {
  font-family: var(--label-font);
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

a {
  
}